.navlabel {
  font-weight: bold;
  display: block;
  margin-bottom: 4px;
  text-align: center;
}

.container {
  display: flex;
  gap: 16px;              
  align-items:  flex-start;
  flex-wrap: wrap;
  justify-content: center;   
}

.container-buttons {
  display: flex;
  flex-direction: column; /* label above button */
  align-items: center;
}
